Simon Nunes <snunes@student.42.fr> <nunesimon85@gmail.com>
Yoann Foreau <yforeau@student.42.fr> taiwing
Yoann Foreau <yforeau@student.42.fr> Yoann Foreau <yoyo.fofo47@gmail.com>
Simon Nunes <snunes@student.42.fr> snunes
Yoann Foreau <yforeau@student.42.fr> taiwing <yoyo.fofo47@gmail.com>
